.icon-div {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  background: #fffbf1;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.gap {
  gap: 40px;
}

.arrow1 {
  position: absolute;

  left: 25%;
}
.arrow2 {
  position: absolute;
  left: 65%;
}
.drop-box {
  width: 311px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #4c5c5f;
  background-color: inherit;
  color: #4c5c5f;
  padding: 8px;
  text-align: left;
  font-family: Titillium Web;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.box2 {
  width: 125px;
  height: 44px;
  color: #4c5c5f;
  text-align: center;
  font-family: Titillium Web;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.detail-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 8px;
}
.count {
  background-color: inherit;
  border: none;
}
.heading {
  color: #324343;
  text-align: left;
  font-family: Titillium Web;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.detail-box {
  margin-top: 32px;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #4c5c5f;
}
.payment {
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 20px;
  margin-top: 20px;
}
.dis-image {
  height: 53px;
  width: 46px;
  border: 1px solid #000;
  border-radius: 12px;
}
