@media (min-width: 400px) {
  .sign {
    height: 100vh;
  }
}
@media (max-width: 400px) {
  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: #fffbf1;
  }
  .top {
    margin: 0;
    padding: 8px 0 0 12px;
    font-size: 14px;
  }
  .line {
    width: 340px;
    height: 1px;
    margin: 0 5px;
    background-color: #424d51;
  }

  .btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .btn {
    width: 140px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #424d51;
    margin: 72px 8px;
    font-family: Gill Sans MT;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }
  .action-btn {
    background-color: #424d51 !important;
    color: #fffbf1;
  }
  .login {
    background-color: #fffbf1;
    color: #424d51;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .form-item {
    width: 312px;
    height: 48px;
    top: 261px;
    left: 24px;
    border-radius: 8px;
    border: 1px solid #424d51;
    background-color: #fffbf1;
    padding-left: 8px;
    font-size: 18px;
  }
  .create-btn {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .auth-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
  }
  .auth-button {
    width: 47px;
    height: 47px;
    border-radius: 4px;
    border: 0.5px;
    background-color: #fffbf1;
    box-shadow: 1px 1px 2px 0px #00000033;
  }
  .auth-alt {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}
