.buy-all {
  width: 312px;
  height: 32px;
  border-radius: 4px;
  border: 0.5px;
  border: 0.5px solid #424d51;
  margin-left: 50px;
}





header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  flex: 2;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.item-details {
  flex: 1;
}

.cart-summary {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
}

.checkout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }
  .cart-summary {
    margin-top: 20px;
  }
}



.navbar-bag{
  width: 32%;

  margin:50px auto ;
  display: flex;
  color: #696B79;
  line-height: 20px;
  justify-content: space-between;
  /* justify-content: space-between; */
  /* justify-items: center; */
  /* border: 2px solid black; */
  /* align-items: center; */
  /* align-self: center; */
}

.navbar-bag p{
  display: inline-block;
  /* width: 100%; */
  /* border: 1px solid red; */
  /* margin: auto; */
  margin-left: auto;
}

.navbar-bag p a{
  color: #696B79;
  /* color: #20BD99;
  border-bottom: 2px solid #20BD99; */
}

.navbar-bag p  .active{
  color: #20BD99;
  border-bottom: 2px solid #20BD99;
}



@media screen and (min-width:350px) {
  .navbar-bag{
    width: 85%;
  }
}


@media (min-width:350px) and (max-width:500px) {
  .navbar-bag{
    margin-left: 100px;
  }
}
@media screen and (min-width:720px) {
  .navbar-bag{
    width: 63%;
  }
}

@media screen and (min-width:1000px) {
  .navbar-bag{
    width: 45%;
  }
}

@media screen and (min-width:1200px) {
  .navbar-bag{
    width: 38%;
  }
}

@media screen and (min-width:1600px) {
  .navbar-bag{
    width: 29%;
  }
}

@media screen and (min-width:1900px) {
  .navbar-bag{
    width: 26%;
  }
}