.navbar {
  display: none;
}

.count-3{
  
 
  position: absolute;
  margin-left: 0px;
  margin-top: -8px;
  font-size: 17px;
  color: red;
  
}
@media (max-width: 400px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  }
  .title {
    font-family: Gill Sans MT;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fffbf1;
    background-color: #424d51;
    width: 410px;
    height: 72px;
    font-weight: 400;
  }
}
