/* MovingText.css */
@keyframes moveHorizontally {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%); /* Move to the right end of the container */
  }
}
/* .moving-text-container {
  overflow: hidden;
} */

.moving-text {
  animation: moveHorizontally 4s linear infinite; /* Adjust the duration as needed */
}
