@media (min-width: 400px) {
  .footer {
    display: none;
  }
}
@media (max-width: 400px) {
  .footer {
    margin-top: 72px;
    width: 410px;
    height: 640px;
    top: 678px;
    border: 1px;
    border-radius: 10px 10px 0 0;
    background-color: #c0c0c0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .footer-item {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 8px;
  }
  .item-heading {
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #000;
    font-family: Titillium Web;
    text-align: left;
  }
  .link {
    color: #4c5c5f;
    font-family: Gill Sans MT;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .line {
    width: 400px;
    height: 1px;
    margin: 0 5px;
    background-color: #424d51;
  }
  .copyright {
    text-align: left;
    color: #4c5c5f;
    margin-top: 16px;
    margin-left: 24px;
  }
  .row {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
