



main {
    padding: 20px;
  }
  
  .wishlist-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-around; */
  }
  
  .wishlist-item {
    width: 300px;
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
  }
  
  .wishlist-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .item-details h3 {
    margin: 5px 0;
  }
  
  .remove-item {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .wishlist-item {
      width: 100%;
    }
  }
  